@import "./color_schemes/dark";

// Dracula theme colors

$color-scheme: dracula;
$body-background-color: #282a36;
$body-heading-color: #f8f8f2;
$body-text-color: #bfbfcf; 
$link-color: #8be9fd;
$nav-child-link-color: #6272a4;
$sidebar-color: #282a36; 
$base-button-color: #44475a;
$btn-primary-color: #50c7db;
$code-background-color: #282a36;
$code-linenumber-color: #f8f8f2; 
$feedback-color: darken(#282a36, 3%);
$table-background-color: #44475a;
$search-background-color: #44475a; 
$search-result-preview-color: #6272a4;
$border-color: #44475a; 

